{{#partial "content"}}

    <h1>Welcome to our Farmer website!!</h1>

    {{#if posts}}
        {{#each posts }}
            <p>post:</p>
            <p>{{ content }} <a href="/posts/{{id}}">read more...</a></p>
        {{/each}}
    {{else}}
        <p>No posts!</p>
    {{/if}}
{{/partial}}

{{> layout.hbs}}